---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.Latestposts.length | min(3) %}

   <h1>A Wild Penguin, A Calm Giraffe, and A Rebellious lion walk into a tavern...</h1>

{% include "postslist.njk" %}
