---
layout: layouts/home.njk
---
{% set maxPosts = collections.Latestposts.length | min(3) %}

   <h1>A Wild Penguin, A Calm Giraffe, and A Rebellious lion walk into a tavern...</h1>

{% include "postslist.njk" %}
