---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}


<h1>A Duck Has Migrated</h1>

<h2>{{duckData.message}}<h2>
<img src={{duckData.url}} alt="Duck Image">

<h2>The Combatants have entered the ring.</h2>

<span id="battle-ring">
  <h3 class="blue">Mongoose</h3>
  {# time to figure out how to use this for CSS background property #}
  {% image "./img/mongoose.jpeg", "an evil mongoose", "100vw" %}
  <h3>Snake</h3>
   {% image "./img/snake.jpeg", "a suspicious snake", "100vw" %}
</span>
