---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}


<h1>A Duck Has Migrated</h1>

<h2>{{duckData.message}}<h2>
<img src={{duckData.url}} alt="Duck Image">

<h2>The Combatants have entered the ring.</h2>

<span id="battle-ring">
  <h3>Mongoose</h3>
  <img src="/img/mongoose.jpeg" alt="Mongoose Image">
  <h3>Snake</h3>
  <img src="/img/snake.jpeg" alt="Snake Image">
</span>
