---
layout: layouts/base.njk
templateClass: tmpl-kids
---

<div id="game">
    <script>
        const apiBaseUrl = "http://tttapi.herokuapp.com/api/v1"
        // NOTE: replace [X, O] with [snakeEmoji, mongooseEmoji]
        let board = '---------'
        const gameState = {
            playerTurn: 'X', // computer player is always X, goes first
            playing: false,
            winner: null
        }
        const createFullUrl = (board, player) => {
            return `${apiBaseUrl}/${board}/${player}`
        }
        const setPlayerTurn = (player) => {
            gameState.playerTurn = player
        }
        const setCell = (cellId, newValue) => {
            if (gameState.playing) { // human is always O
                const cell = document.getElementById(cellId)
                cell.innerText = newValue
            }
        }
        const setBoard = (newBoard) => {
            board = newBoard
        }
        const clearBoard = () => {
            board = '---------'
        }
        const move = (board, player, location) => {
            board[location] = player
        }
        const play = () => {
            let turn = 0
            console.log("playing TTT")
            gameState.playing = true
            clearBoard()
            setPlayerTurn('X')
            while (gameState.playing) {
                turn = turn + 1
                if (turn > 10) {
                   break
                }
                if (gameState.playerTurn === 'X') { // computer turn
                    fetch(createFullUrl(board, gameState.playerTurn)).then(response => response.json()).then(data => {
                        setBoard(data.game)
                        move(board, 'X', data.recommendation)
                        setPlayerTurn('O')
                        setCell(board[data.recommendation - 1])
                    })
                }
            }
            // game over
        }
        //
    </script>
    <div id="game-section">
        <table id="board">
            <tr class="row">
                <td class="cell" id="one" onclick="setCell('one', 'X')"></td>
                <td class="cell" id="two" onclick="setCell('two', 'O')"></td>
                <td class="cell" id="three" onclick="setCell('three', 'X')"></td>
            </tr>
            <tr class="row">
                <td class="cell" id="four" onclick="setCell('four', 'O')"></td>
                <td class="cell" id="five" onclick="setCell('five', 'X')"></td>
                <td class="cell" id="six" onclick="setCell('six', 'O')"></td>
            </tr>
            <tr class="row">
                <td class="cell" id="seven" onclick="setCell('seven', 'X')"></td>
                <td class="cell" id="eight" onclick="setCell('eight', 'O')"></td>
                <td class="cell" id="nine" onclick="setCell('nine', 'X')"></td>
            </tr>
        </table>
        <span>
            <button id="play-button" onclick="play()">
                Activate TTT
            </button>
        </span>
        <p id="game-state-message"></p>
    </div>
</div></div></div></div></div></div></div></div></div></div> </div>