---
layout: layouts/base.njk
templateClass: tmpl-kids
---

<div id="game">

<script>

const gameState = {


}

const board = const board = {
  one: null,
  two: null,
  three: null,
  four: null,
  five: null,
  six: null,
  seven: null,
  eight: null,
  nine: null,
}

function play() {
  // play Tic Tac Toe

}

</script>

</div>